<!DOCTYPE html>
<html ng-app="pairings">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <script src="js/lib/lodash.js"></script>
  <script src="js/lib/jquery-2.0.3.js"></script>
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <script src="js/lib/angular-resource.js"></script>
  <script src="js/lib/angular-touch.js"></script>
  <script src="js/lib/angular-ui-bootstrap.js"></script>
  <script src="js/lib/angular-local-storage.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/resources.js"></script>
  <script src="js/app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
</head>
<body ng-controller="MenuController">
  <div id="header">
    <div ng-hide="loggedIn">
      <form ng-submit="login()">
        <input type="number" ng-model="dci" placeholder="DCI-numero">
        <input type="submit" value="KIRJAUDU" class="pull-left">
        <a class="hidden-xs" href="#/tournaments">KAIKKI TURNAUKSET</a>
        <span class="pull-right menu-icon hidden-sm hidden-md hidden-lg" ng-click="menuCollapsed = !menuCollapsed"><i></i></span>
      </form>
    </div>
    <div ng-show="loggedIn" class="hidden-xs logged-menu">
      <span>{{name}}</span>
      <button ng-click="logout()">KIRJAUDU ULOS</button>
      <a href="#/tournaments">KAIKKI TURNAUKSET</a>
      <a href="#/">ETUSIVU</a>
    </div>
    <div ng-show="loggedIn" class="hidden-sm hidden-md hidden-lg">
      <span>{{name}}</span>
      <span class="pull-right menu-icon" ng-click="menuCollapsed = !menuCollapsed"><i></i></span>
    </div>
  </div>
  <div id="mobile-menu" class="hidden-sm hidden-md hidden-lg" collapse="menuCollapsed">
    <a href="#/" ng-click="menuCollapsed = true">ETUSIVU</a>
    <a href="#/tournaments" ng-click="menuCollapsed = true">KAIKKI TURNAUKSET</a>
    <a ng-hide="!loggedIn" ng-click="menuCollapsed = true; logout()">KIRJAUDU ULOS</a>
  </div>
  <div id="content" ng-view>

  </div>
</body>
</html>
