html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: Lato, Helvetica, sans-serif;
}

span.menu-icon {
  font-weight:bold;
  font-size: 30px;
  display: inline-block;
  width:40px;
  height:60px;
  margin-right: 10px;
}

span.menu-icon i {
  padding-left:1.2em;
  position: relative;
}

span.menu-icon i:before {
  content:'';
  position:absolute;
  top: 27%;
  left:0px;
  width:.75em; /* 12px/16px */
  height:.6em; /* 2px/16px */
  border-top: .375em double #fff; /* 6px/16px */
  border-bottom: .14em solid #fff; /* 2px / 16px */
}

#mobile-menu a {
  display: block;
  height:40px;
  line-height: 40px;
  font-size: 20px;
  border-top: 1px solid #e6e6e6;
  color: #e6e6e6;
  background-color: #424242;
  text-decoration: none;
  font-weight: normal !important;
  padding-left: 10px;
}

#header input[type=number]::-webkit-inner-spin-button,
#header input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#header {
  background-color: #333333;
  color: #e6e6e6;
  border-bottom: 1px solid #000000;
  height:60px;
  font-size: 20px;
}

#header span {
  line-height: 60px;
  float:left;
  margin-left: 10px;
}

#header i {
  line-height: 60px;
  margin-right: 10px;
}

#header > div {
  height:60px;
  position:relative;
}

#header input[type="submit"].pull-left {
  margin-left: 10px;
}

#header button, #header a, #header input[type="submit"] {
  border:0;
  background-color: #424242;
  text-decoration: none;
  color: #e6e6e6;
  height:40px;
  line-height: 40px;
  text-align: center;
  padding:0 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  float:right;
}

#header input[type="text"], #header input[type="number"] {
  height:40px;
  width: 150px;
  padding: 0 8px;
  background-color: #333333;
  color: #e6e6e6;
  border: 2px solid #e6e6e6;
  font-size: 18px;
  line-height: 32px;
  margin-top: 10px;
  margin-left: 10px;
  float:left;
}

.pairing, .seating {
  clear:left;
  border-left: 1px solid #e6e6e6;
  margin-left:20px;
}

.pairing h4 {
  height: 20px;
  line-height: 20px;
  font-size:16px;
  margin:0;
}

.even {
  background-color:#e6e6e6;
}
.odd {
  background-color:#ffffff;
}

.pairing .table-number, .seating .table-number {
  display: inline-block;
  text-align:center;
  font-weight: bold;
  color: #424242;
  float:left;
}

.pairing .names, .seating .name {
  display: inline-block;
  float:left;
  line-height:30px;
  font-size:20px;
  border:0;
  margin:0;
  padding:0;
}

.opponent {
  color:#848484;
}

.pairing .points {
  float:right;
  margin-right:15px;
  font-size: 20px;
}

.border-top {
  border-top: 1px solid #424242;
}

i.pull-left {
  margin-right:15px;
}

.newest-tournament-name {
  display:block;
  margin-left:20px;
  font-size:16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.own-tournament {
  clear:left;
}

.own-tournament-header {
  height:50px;
  line-height:50px;
}

.own-tournament-header h3 {
  line-height:50px;
  margin:0;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
}

.own-tournament-header h3 .date {
  font-size: 16px;
}

.own-tournament-header i {
  line-height:50px;
}

.own-tournament a {
  font-size: 20px;
  margin-left: 20px;
  padding-left: 60px;
  display: block;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.own-tournament a i {
  top: 10px;
  margin-right: 15px;
}

.pairings-table, .standings-table {
  width:100%;
}

.pairings-table th {
  position: relative;
}

.pairings-table th.players {
  padding-left: 30px;
}

.pairings-table .left {
  position:absolute;
  left:0;
}

.pairings-table .table {
  width: 100px;
  text-align: center;
}

.pairings-table .players {
}

.pairings-table .points, .pairings-table .result {
  width:60px;
  text-align: center;
}

.standings-table .points, .standings-table .rank {
  width:50px;
  text-align: center;
}

.standings-table .pgw, .standings-table .ogw, .standings-table .omw {
  width: 70px;
  text-align: center;
}

h3 {
  font-size:20px !important;
}

.inactive {
  color: #cccccc;
}

.organizer-pairings, .organizer-standings, .organizer-seatings {
  text-align: center;
}

.organizer-pairings .pairing-column, .organizer-seatings .seating-column {
  width:500px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.organizer-standings .standings-table {
  width:500px;
  display: inline-block;
  margin: 0 20px;
}

.organizer-pairings .pairing.no-round, .organizer-seatings .seating, .organizer-standings td {
  height: 24px;
}

.organizer-pairings .pairing .names, .organizer-pairings .pairing .table-number, .organizer-pairings .pairing .points,
.organizer-seatings .seating .table-number, .organizer-seatings .seating .name, .organizer-standings td { 
  line-height:24px;
  font-size:17px;
}

.organizer-pairings .pairing .table-number,
.organizer-seatings .seating .table-number {
  width: 40px;
  font-size:20px;
}

.organizer-pairings .pairing .names {
  display: block;
  float: none;
  text-align: left;
}

.organizer-pairings .pairing .names .player,
.organizer-pairings .pairing .names .opponent {
  display: inline-block;
  width: 215px;
}

.organizer-pairings .pairing .names .hidden-xs,
.organizer-pairings .pairing .points {
  display: none;
}

#organizer-menu {
  padding-left:10px;
  height:40px;
  font-size:20px;
  border-bottom: 1px solid #424242;
}

#organizer-menu a, #menu a {
  color: green;
  text-decoration: none !important;
  cursor: pointer;
  font-size: 20px;
}

.organizer-clock {
  color: green;
  font-size: 600px;
  font-weight: bold;
  text-align: center;
}

.organizer-clock.timeout {
  color: red;
}

.tournament {
  margin-left: 10px;
}

.tournament-row {
  margin-bottom: 10px;
}

.tournament-row a {
  margin-right: 10px;
  width: 100px;
}

@media (max-width: 767px) {
  .pairing .table-number {
    line-height: 60px;
    width:60px;
    font-size: 40px;
  }

  .pairing {
    height: 80px;
  }

  .pairing.no-round {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .pairing .table-number, .seating .table-number {
    line-height: 30px;
    width:30px;
    font-size: 20px;
  }

  .pairing {
    height: 50px;
  }

  .pairing.no-round {
    height: 30px;
  }
}